.well.well-large
    .controls
        = link_to quote.id, {:controller => "quotes", :action => "show", :id => quote}

    %br

    %blockquote
        %p
            = simple_format(quote.body)
    %small
        = quote.description
        - if quote.tags.any?
            %hr
    - quote.tags.uniq.each do |tag|
        = link_to tag.name, {:controller => "tags", :action => "show", :id => tag}, :class => " btn btn-info btn-small tag_button"