.hero-unit
	%h2 Welcome to the SSE QDB!
	%p
		This is a collection of quotes submited by members of the
		%a{:href => "http://sse.se.rit.edu"}
			Society of Software Engineers.
	
	%a.btn.btn-info.btn-large{:href => "/quotes"} View the Quotes
	%a.btn.btn-primary.btn-large{:href => "/quotes/new"} Submit a Quote