/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 *= require twitter/bootstrap/_responsive
 *= require _font-awesome
 */

.corner_logo{
	
	height:23px;
	padding-right:5px;
}

.new{
	margin-left: 10px;
}

a.tag_button{
	margin-bottom: 5px;
}

.navbar-search{
	border-color:#2E2E2E !important;
}

.btn-large{
	margin-bottom: 5px !important;
}

.maintext{
	width:85px;
}