// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag_main{
	font-size: 20px;
	padding: 2px 7px;	
	margin: 0 5px;
	line-height: 35px;
}