= link_to "View the Quotes", {:controller => "quotes", :action => "index"}, :class => "btn btn-info btn-large"
= link_to "Submit a Quote",  {:controller => "quotes", :action => "new"}, :class => "btn btn-primary btn-large"